<div  layout="column" layout-align="center" >
  @include('order.progressivebar')
</div>
<div layout="row" layout-align="center" style="padding-bottom:187px;" >


<div class="order-result"flex="70" layout="column" layout-align="center">

  <div class = "message" ng-if = " order.transaction_status != 'Success' " >
    <div>Transaction @{{order.transaction_status}}</div>
    <div>We are sorry. Please try once again</div>
  </div>

  <div class="success-icon" ng-if="order.transaction_status == 'Success'" ></div>
  <div class="message" ng-if="order.transaction_status == 'Success'" >

    <h4 class="greeting">Congratulations</h4>
    <div>Transaction @{{order.transaction_status}}</div>
    <h5 class="subhead">Order Id: @{{order.reference_id}}</h5>
    <p>We have received your order.Our customer executive will contact you soon for further information</p>
  </div>
  <div layout="row" layout-align="center center" style="padding-top:54px">

    <input type="button" class="shop-more" ng-click = "goToshop()" value="Shop more">
    <div flex="10"> </div>
    <input type="button" class="confrmbutton" value="View Orders">
  </div>
</div>
</div>
