<div id="need-help" class="container">
  <div class="section-heading">
    <div class="title">Need Help?</div>
    <div class="down-arrow"></div>
  </div>
  <div class="section-content">
    <p>Give us you  phone number and we’ll get back to you as soon as possible</p>
    <form  ng-submit="requestCallback()" name="requestCallbackForm"  >
      <div class ="input-wrapper">
        <input type="text" name="phnumber" ng-model="callback.mobile"  ng-click="callback.active=!callback.active" value="" placeholder="Phone Number">
        <div class="tooltip" ng-show="callback.active" >
          <span >Don't Worry </span>
          <p>We don’t share numbers with anyone :) </p>
        </div>
      </div>
      <button class="secondary" type="submit" name="button">Call me</button>
    </form>
  </div>
</div>

<style media="screen">

</style>
