<style media="screen">
#about{
  padding-bottom: 100px;
}
#about h1{
  text-align: center;
  transform: scale(1, 2);
}
#about img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#about .text{
  color: white;
  padding: 18px;
  height: calc(100% - 36px);
  text-align: justify;
  font-size: 15px;
  line-height: 20px;
}
#about .text.grey{
  background-color: #363636;
}
#about .text.pink{
  background-color: #ff7187;
}

#about .row{
  height: 275px;
}

#about *{
  border-radius: 5px;
}

#endorsement  *{
  border-radius: 5px;
}

#endorsement {
    padding-bottom: 100px;
}



#endorsement img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#endorsement .text1{
  position: relative;

  color: white;
  padding: 18px;
  height: calc(100% - 36px);
  width: calc(100% - 36px);
 background-color: rgba(54, 54, 54, 0.5);
  text-align: justify;
  font-size: 15px;
  line-height: 20px;
}


#endorsement .sltext{
  /*top: -60px;*/
  width: calc(100% - 36px);
  text-align: center;
}

#endorsement .sltext{
  top: -60px;
  width: calc(100% - 36px);
  text-align: center;
}
.buttom-mar{
  margin-bottom: -106px;
}
.buttom-mar2{
  margin-bottom: -146px;
}
</style>
<div id='about' class="container">
  <div class="page-heading">
    <div class="title">About Us</div>
  </div>
  <div class="row with-margin">
    <div class="col-25"><img src="/aboutuspage/DSCN0217.jpg" alt="" /></div>
    <div class="col-25"><img src="/aboutuspage/10991263_944730988878517_3029377960985269800_n.jpg" alt="" /></div>
    <div class="col-25"><img src="/aboutuspage/IMG_2809.jpg" alt="" /></div>
    <div class="col-25">
      <div class="text grey">We believe in work hard and party harder. Celebrating each milestone with untamed gusto, we feel unstoppable. With 30+ projects and 4000+ furniture sales in mere 6 months, we aim to become Affordable Luxury.</div>
    </div>
  </div>
  <div class="row with-margin">
    <div class="col-25"><img src="/aboutuspage/IMG_2621.jpg" alt="" /></div>
    <div class="col-25"><img src="/aboutuspage/IMG_0829.jpg" alt="" /></div>
    <div class="col-25">
      <div class="text pink">Our secret to success? Empowering the local community of semi-skilled laborers with regular business, skill development, and equipping them with modern technology. It’s a win-win for all - Happy customers, emancipated artisans, and growing CaféINDICA family.</div>
    </div>
    <div class="col-25"><img src="/aboutuspage/IMG_2058.jpg" alt="" /></div>
  </div>
  <div class="row with-margin">
    <div class="col-50">
      <div class="text grey">Apart from brick and mortar, there’s a lot more that goes into converting your house into the perfect abode. It’s the colour of walls, style of furniture, lighting of spaces, placement of artefacts and every other minute detail that creates that homely ambience. Above all, what it takes is the EFFORT…the effort that goes behind collecting all this, blending it with your own unique style and getting everything executed exactly as you wanted. In today’s fast paced life, who has time to get everything done infront of their own eyes? We, at CaféNDICA, specialize in Brewing Fabulous Homes. Come, enjoy the ‘CaféINDICA experience’.</div>
    </div>
    <div class="col-50"><img src="/aboutuspage/IMG_2345.jpg" alt="" /></div>
  </div>
  <div class="row with-margin">
    <div class="col-50">
      <div class="row with-margin">
        <div class="col-50"><img src="/aboutuspage/_DSC1039.jpg" alt="" /></div>
        <div class="col-50"><img src="/aboutuspage/IMG_1022.jpg" alt="" /></div>
      </div>
    </div>
    <div class="col-50">
      <div class="text pink">Local Sourcing, Lean Manufacturing and Skill development at the grass-root level, thats our mantra to conquer the unorganized and hard to tame Home Interiors segment. We have already disrupted the modular furniture market by minimizing site engagement time and have delivered projects in as less than 4 weeks. Our model of local sourcing has made the process of procurement extremely fast, with even solid wood furniture being sourced within a week.</div>
    </div>
  </div>
</div>
