<style media="screen">
#about{
  padding-bottom: 100px;
}
#about h1{
  text-align: center;
  transform: scale(1, 2);
}
#about img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#about .text{
  color: white;
  padding: 18px;
  height: calc(100% - 36px);
  text-align: justify;
  font-size: 15px;
  line-height: 20px;
}
#about .text.grey{
  background-color: #363636;
}
#about .text.pink{
  background-color: #ff7187;
}

#about .row{
  height: 275px;
}

#about *{
  border-radius: 5px;
}

#endorsement  *{
  border-radius: 5px;
}

#endorsement {
    padding-bottom: 100px;
}



#endorsement img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#endorsement .text1{
  position: relative;

  color: white;
  padding: 18px;
  height: calc(100% - 36px);
  width: calc(100% - 36px);
 background-color: rgba(54, 54, 54, 0.5);
  text-align: justify;
  font-size: 15px;
  line-height: 20px;
}


#endorsement .sltext{
  /*top: -60px;*/
  width: calc(100% - 36px);
  text-align: center;
}

#endorsement .sltext{
  top: -60px;
  width: calc(100% - 36px);
  text-align: center;
}
.buttom-mar{
  margin-bottom: -106px;
}
.buttom-mar2{
  margin-bottom: -146px;
}
</style>

<div hide-xs id="endorsement" class="container">
  <div class="page-heading">
    <div class="title">Endorsements</div>
  </div>

  <div class="row with-margin ">
    <div class="col-100 buttom-mar"><img src="images/aboutuspage/k089.jpg" alt="" />
      <div class="text1 grey kktext">Had a meeting with none other than, 'the Sufi Voice of India' , Sri Kailash Kher...! You realize that the world is still full of great souls when somebody of his stature gives 1 hour 40 minutes to hear about your venture and to encourage you to pursue dreams that could change millions of lives.
  Team CafeINDICA is overwhelmed with Kailash Sir's encouraging words, and continues to strive for 'enterprise promoting entrepreneurship' amongst the local contractors</div>
    </div>
    </div>


  <div class="row with-margin ">
    <div class="col-100 buttom-mar2"><img src="images/aboutuspage/mk.jpg" alt="" />
      <div class="text1 grey mktext">Its a big pat on the back when your childhood hero recognizes your efforts and promises to stand by you for the greater good. During our recent trip to Mumbai , we got a chance to have an interactive meeting with none other than Shaktimaan himself..! Veteran actor Sri Mukesh Khanna applauded Cafe'INDICA's initiative of skill development of the semi-skilled local handymen through technology. He expressed his happiness that the lives and earnings of these artisans had improved threefolds by the use of latest gadgets and toolkits supplied by us. He said - ' We need to technically boost the talent of local artisans, and help each individual become 'Shaktimaan'. Thankyou so much SHAKTIMAAN😊 for your support!!</div>
    </div>
  </div>
<div class="row with-margin ">
  <div class="col-100"><img src="images/aboutuspage/13502.jpg" alt="" />  <div class="text1 grey sltext"> Salute to Mr. Shivdeep Lande for being a great inspiration for the young generation. All the best from Team CafeIndica</div>
  </div>
  </div>
  </div>


<div show-xs hide-gt-xs id="endorsement" class="container">
  <div class="page-heading">
    <div class="title">Endorsements</div>
  </div>

  <div class="row with-margin ">
    <div class="col-50 buttom-mar"><img src="images/aboutuspage/k089.jpg" alt="" />
        </div>
          </div>
      <div class="row with-margin ">
      <div class="text1 grey kktext">Had a meeting with none other than, 'the Sufi Voice of India' , Sri Kailash Kher...! You realize that the world is still full of great souls when somebody of his stature gives 1 hour 40 minutes to hear about your venture and to encourage you to pursue dreams that could change millions of lives.
  Team CafeINDICA is overwhelmed with Kailash Sir's encouraging words, and continues to strive for 'enterprise promoting entrepreneurship' amongst the local contractors</div>
    </div>


  <div class="row with-margin ">
    <div class="col-50 buttom-mar2"><img src="images/aboutuspage/mk.jpg" alt="" />
      <div class="text1 grey mktext">Its a big pat on the back when your childhood hero recognizes your efforts and promises to stand by you for the greater good. During our recent trip to Mumbai , we got a chance to have an interactive meeting with none other than Shaktimaan himself..! Veteran actor Sri Mukesh Khanna applauded Cafe'INDICA's initiative of skill development of the semi-skilled local handymen through technology. He expressed his happiness that the lives and earnings of these artisans had improved threefolds by the use of latest gadgets and toolkits supplied by us. He said - ' We need to technically boost the talent of local artisans, and help each individual become 'Shaktimaan'. Thankyou so much SHAKTIMAAN😊 for your support!!</div>

    </div>

  </div>

  <div class="row with-margin ">
    <div class="col-50"><img src="images/aboutuspage/13502.jpg" alt="" />  <div class="text1 grey sltext1"> Salute to Mr. Shivdeep Lande for being a great inspiration for the young generation. All the best from Team CafeIndica</div>
</div>

  </div>

</div>
