<section class="footer">
  <div class="container"  layout-sm="row" layout-gt-sm="row" layout-xs ="column" >
  <div  layout-sm="column" flex-sm="50" flex-gt-sm="40" layout-gt-sm ="row" >
    <div  layout-gt-sm ="column " flex-gt-sm ="50">
      <div class="footer-wrapper-inner">
        <span>café Indica </span>
        <ul>
          <li><a href="http://magazine.cafeindica.co.in/" target="_blank" >Blog</a></li>
          <li><a href="#!/aboutus">About us</a></li>
          <li><a href="#!/endorsements">Endorsements</a></li>          
          <li><a href="#!/contacts">Contact us</a></li>
        </ul>
      </div>
    </div>
    <div >
      <div class="footer-wrapper-inner">
        <span>Information </span>
        <ul>
          <li>Shipping</li>
          <li>Payments</li>
          <li>Cancellation</li>
          <li>Returns and Refund</li>
          <li>Warranty</li>
          <li>Privacy</li>
          <li>Terms & Condition</li>
        </ul>
      </div>
    </div>
  </div>
  <div  layout-gt-sm="row" layout-xs="column" flex-gt-sm="60" layout-sm="column">
    <div layout-gt-sm ="column " flex-gt-sm ="60">
      <div class="footer-wrapper-inner">
        <span>Need Help? </span>
        <div class="contact">
          <span>Call us</span>
          <div class="contact-no">
            <span> 011 - 41046916 </br> </span>
            <span style="padding-left:62px">49060935</span>
          </div>
        </div>
        <div class="contact">
          <span>Mail us</span>
          <div class="email">info@cafeindica.co.in</div>
        </div>
      </div>
    </div>
    <div layout="row" layout-align-gt-sm="end" layout-align-xs="start"  layout-align-sm="start" flex-xs="100" flex-sm="100" style="padding-bottom:50px">
      <div class="footer-wrapper-inner padding-footer">
          <span>Follow us</span>
          <ul class="social-icon">
            <li><a href="https://www.facebook.com/cafeindica/"><i class="socicon-facebook"></i></a></li>
            <li><a href="https://twitter.com/CafeIndica"><i class="socicon-twitter"></i></a></li>
            <li><a href="https://instagram.com/cafe_indica/"><img src="general/instagram.svg"  class="insta" ></i></a></li>
            <li><a href="https://plus.google.com/114167521874774366562"><i class="socicon-googleplus"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
