<!DOCTYPE html>
<html ng-app="publicApp">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Café Indica - End to End Interior Solution for Delhi/NCR</title>
    <base href="/">
    <meta name="fragment" content="!">
    <link rel="shortcut icon" type="image/x-icon" href="images/logo/logo_blank.png" />
    <meta name="keywords" content="Interior Solution, Home decor, Furniture, Online Shopping India, online furniture shopping, Home Decor Online, Home Furnishing online">
    <meta property="og:title" content="Café Indica - End to End Interior Solution for Delhi/NCR"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="http://www.cafeindica.co.in/images/logo/logo_blank.png"/>
    <meta property="og:description" content=""/>
    <link rel="canonical" href="http://www.cafeindica.co.in/"/>
    <meta property="og:site_name" content="cafeindica.co.in"/>
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <link rel="stylesheet" href="/node_modules/angular-material/angular-material.min.css" media="screen" title="no title" charset="utf-8">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="css/app.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="css/calendar.css" charset = "utf-8">
    <link rel="stylesheet" href="/node_modules/angularjs-slider/dist/rzslider.min.css" media="screen" title="no title" charset="utf-8">
    <script src="/node_modules/jquery/dist/jquery.min.js" charset="utf-8"></script>
    <script src="/node_modules/angular/angular.min.js" charset="utf-8"></script>
    <script src="/node_modules/angular-animate/angular-animate.min.js" charset="utf-8"></script>
    <script src="/js/angular-material-calendar.js" charset="utf-8"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.12/angular-sanitize.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-messages.js" charset="utf-8"></script>
    <script src="/node_modules/angular-aria/angular-aria.min.js" charset="utf-8"></script>
    <script src="/node_modules/angular-material/angular-material.min.js" charset="utf-8"></script>
    <script src="/node_modules/angular-route/angular-route.min.js" charset="utf-8"></script>
    <script src="/node_modules/ng-infinite-scroll/build/ng-infinite-scroll.min.js" charset="utf-8"></script>
    <script src="/node_modules/angularjs-slider/dist/rzslider.min.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r77/three.min.js" charset="utf-8"></script>
    <script src="/js/app.js" charset="utf-8"></script>
    <script src="js/Providers.js" charset="utf-8"></script>
</head>
  <body ng-controller="TopLevelCtrl" layout="row" layout-align="center" 
        ng-class="{'show-scroll':!callback_minimized}">

    <div class = "backdrop-front" ng-show = "backDrop" >
    </div>

    <!-- Needhelp Part Include Center -->
    <div ng-include='"needhelp.html"'></div>

    <div ng-include="popup.html"></div>

    <div layout="column" flex="100" flex-gt-sm="100" ng-hide="false">

    <div ng-include="header.html"></div>

      <div ng-view autoscroll="true" class="view" ng-class="{'bookmarks-active': bookmarks_active, 'reset': !bookmarks_active, 'with-small-toolbar': is_internal_page || show_small_header}"></div>

    <div ng-include="footer.html"></div>

    </div>

    <!-- <div id="bulk-orders-wrapper"><md-button class="md-raised" id="bulk-orders-btn" ng-click="showBulkOrderForm($event)">Bulk Order</md-button></div> -->

    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-76655098-1', 'auto');
    ga('send', 'pageview');

    </script>

  </body>

</html>
