<div layout="row" layout-align="center" >
  <div class="container">
    <h6> Change Password </h6>
    <form name="Changepassword" ng-submit="Cngpassword(Changepassword)" layout-padding layout="column"  novalidate>
      <div layout = "column" class="cpassword">
        <div class="input-field">
         <input type="password" name="oldpassword" ng-model="password.old" id="change-password"  placeholder="Old password ">
       </div>
         <div class="input-field">
          <input type="password" name="password" ng-model="password.new" id="register-password"  placeholder="Choose a password ">
        </div>
        <div class="input-field">
          <input type="password"  name="password_confirmation" ng-model="password.confirmation" id="confirmaation-password"  placeholder="Re-type password">
        </div>
      </div>
      <div layout="row" style = "padding-top:16px;height:30px;" class="password_button">
        <button class="secondary" type="submit" >Save Changes</button>
      </div>
    </form>

  </div>
</div>
<style media="screen">
  .cpassword{
    width: 260px;
  }
  .cpassword > .input-field > input{
    height: 36px;
  }
  .password_button > button{
    height:30px;
  }

</style>
