<div layout="row" layout-align="center" >
  <div class="container">
    <h6> Set Password </h6>
    <form name="setpassword" ng-submit="Setpassword(setpassword)" layout-padding layout="column"  novalidate>
      <div layout = "column" class="spassword">
        <div class="input-field">
          <input type="password" name="password" ng-model="password.new" id="register-password"  placeholder="Choose a password ">
        </div>
        <div class="input-field">
          <input type="password"  name="password_confirmation" ng-model="password.confirmation" id="confirmaation-password"  placeholder="Re-type password">
        </div>
      </div>
      <div layout="row" style = "padding-top:16px;height:30px;" class="password_button">
        <button class="secondary" type="submit" >Save Changes</button>
      </div>
    </form>

  </div>
</div>
<style media="screen">
  .spassword{
    width: 260px;
  }
  .spassword > .input-field > input{
    height: 36px;
  }
  .password_button > button{
    height:30px;
  }

</style>
